* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Graphik;
}

body {
  width: 100%;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  margin: 25px 8%;
  justify-content: space-between;
}

.nav-menu a {
  text-decoration: none;
  color: #514949;
  margin-right: 3rem;
  font-size: 20px;
  padding: 20px 10px;
}

.nav-menu a:hover {
  background-color: rgba(149, 195, 211, 0.089);
}
.nav-item1 {
  border-bottom: 4px solid #e7332b;
}

.hire1 {
  background-color: #e7332b;
  color: white;
  font-size: 18px;
  margin-right: 15px;
  padding: 10px 40px;
  border-bottom-right-radius: 8px;
  border: none;
}

.intro {
  display: flex;
  margin-top: 15%;
  margin-left: 8%;
}
.vetted {
  display: flex;
  flex-direction: column;
  margin-right: 15%;
}

.vetted h1 {
  font-size: 48px;
}

span {
  color: #e7332b;
}

.thick {
  align-items: flex-end;
  justify-content: right;
}

.thick img {
  width: 10%;
  margin-left: 100%;
}

.section-image {
  width: 30%;
  height: 35%;
  align-items: flex-end;
  margin-left: 10%;
}
