* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Averta, sans-serif;
  max-width: 100%;
}
body {
  background-color: #fff;
}

.intro-container {
  background-image: url(https://zuri.team/img/hero-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#intro {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
  padding: 10%;
  margin-bottom: 6rem;
}

.hIntro {
  margin: 3%;
  padding-top: 2%;
  font-size: 36px;
  font-weight: 800;
  color: #514949;
}

.pIntro {
  margin: 0 29%;
  font-size: 16px;
  color: #514949;
  opacity: 0.9;
  line-height: 1.5;
  text-align: center;
}
.pLink {
  color: #e7332b;
  text-decoration: none;
}

.pLink:hover {
  color: #e7342bc9;
}

#link {
  display: flex;
  justify-content: center;
  padding-bottom: 30%;
}

.new button {
  text-decoration: none;
  padding: 15px 30px;
  background-color: #e7332b;
  border: 1px solid #e7332b;
  color: white;
  margin-right: 30px;
}

.new button:hover {
  background-color: white;
  color: #e7332b;
}

.experience button {
  text-decoration: none;
  padding: 15px 30px;
  background-color: white;
  border: 1px solid #e7332b;
  color: #e7332b;
  margin-right: 30px;
}

.experience button:hover {
  background-color: #e7332b;
  color: white;
}
.agenda {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#subPara {
  line-height: 2;
  text-align: center;
}

#subPara h2 {
  font-size: 14px;
  color: #e7332b;
  margin-top: 141px;
}

#subPara p {
  font-size: 24px;
  color: #514949;
  margin-bottom: 65px;
}

.card {
  display: flex;
  flex-direction: row;
  margin: 0 20px;
}

.content {
  width: 100%;
  background-color: #fffafa;
  padding: 61px 55px 82px 36px;
  margin: 20px;
}

.content img {
  padding-bottom: 40px;
}

.content p {
  line-height: 2;
  color: #514949;
  opacity: 0.9;
  padding-bottom: 30px;
}

.content a {
  color: #e7332b;
  opacity: 0.9;
  text-decoration: none;
}

footer {
  display: flex;
  flex-direction: column;
  margin-top: 20%;
}

.preFooter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 40px;
  color: #514949;
}

.footerLink {
  line-height: 2;
}

.footerLink h3 {
  font-weight: bold;
}

.footerLink a {
  color: #e7332b;
  opacity: 0.9;
  text-decoration: none;
}

.footerContact {
  line-height: 2;
}

.footerContact p {
  line-height: 1;
}

.footerContact a {
  color: #e7332b;
  opacity: 0.9;
  text-decoration: none;
}
.icon img {
  width: 18px;
  margin-right: 5px;
}

.copyright {
  padding: 3rem;
  text-align: center;
  border-top: 2px solid rgba(0, 0, 0, 0.247);
  margin: 0 40px;
  margin-top: 3rem;
  color: #514949;
  font-weight: bold;
  font-size: 24px;
}

/* Responsiveness for Mobile devices*/
@media screen and (max-width: 768px) {
  #intro {
    padding-top: 7rem;
    margin-bottom: 8rem;
  }

  .logo1 {
    padding-bottom: 4rem;
  }

  .hIntro {
    font-size: 32px;
    margin-bottom: 30px;
  }

  .pIntro {
    margin: 0 5%;
  }

  #link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4em;
    padding-bottom: 5%;
  }

  .new,
  .experience {
    margin: auto;
    justify-content: center;
    align-items: center;
  }
  .new button {
    margin-right: 0px;
    margin: auto;
    margin-bottom: 3rem;
  }

  .experience button {
    margin-right: 0px;
    margin: auto;
    justify-content: center;
    align-items: center;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10%;
    width: fit-content;
  }

  .content {
    background-color: #fffafa;
    padding: 61px 40px 82px 36px;
    margin: 20px;
  }

  .preFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
    gap: 25px;
  }

  .footerLink {
    text-align: center;
  }

  .preFooter h3 {
    font-size: x-large;
  }

  .footerContact {
    text-align: center;
  }
  .footerContact p {
    margin-bottom: 15px;
  }

  .footerSocial {
    text-align: center;
  }

  .Follow {
    margin-bottom: 5px;
  }

  .copyright {
    font-size: 18px;
  }
}
